@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

html {
  font-size: 100%;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    background-color: rgb(152, 0, 0);
}

main {
    background-color: #ffffff;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 40rem;
}

h1 {
    font-size: 2rem;
    color: #ffffff;
    background-color: rgb(152, 0, 0);
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    background-color: rgb(152, 0, 0);
    max-width: 13rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: auto;
}

.texto {
  white-space: pre-line;
  text-align: justify;
  line-height: 1.6;
  padding: 0.5rem;
  color: #333;
}