@charset "UTF-8";
body {
            background-color: rgb(254, 196, 236);
            font-family: montserrat, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(75, 75, 75);
            background-color: rgb(255, 163, 189);
        }
        h3 {
            color: rgb(120, 0, 255);
        }
        p{
            color: rgb(255, 255, 255);
            text-align: justify;
        }