@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

:root {
    /* Colors */
    --pink: #F24987;
    --green: #B2BF4B;
    --grey-l: #D9D9D9;
    --grey-d: #5F6B73;
    --black: #262626;

    /* Fonts */
    --font-primary: 'montserrat', Tahoma, Geneva, Verdana, sans-serif;
    --font-secondary: 'arial black', sans-serif;
    --font-droid: 'idroid', sans-serif;

}


html {
    font-family: 'montserrat', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    background-color: var(--grey-l);
}

header {
    font-family: var(--font-primary);
    background-image: linear-gradient(to top,#620024, var(--pink));
    color: white;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-family: var(--font-droid);
    text-transform: uppercase;
    padding: 1rem;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(12, 12, 12, 0.3);
}

header p {
    padding: 1rem;
    font-size: 1rem;
}

header nav{
    text-align: left;
    padding-top: 1rem;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

header nav a:hover {
    background-color: var(--pink);
    transition-duration: 0.4s;
}

body {
    background-color: var(--grey-l);
}

img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

main {
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    font-family: 'idroid', sans-serif;
    font-size: 2rem;
    color: var(--green);
    margin-bottom: 1rem;
}

main p {
    line-height: 1.6rem;
    text-indent: 1.5rem;
    text-align: justify;
    font-size: 1rem;
    color: var(--grey-d);
}

main h2 {
    background-image: linear-gradient(to right, var(--green), transparent);
    font-family: 'idroid', sans-serif;
    font-size: 1.5rem;
    color: var(--pink);
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

main strong {
    color: white;
    font-weight: bold;
    background-color: var(--green);
    padding: 0.2rem;
}

main strong:hover {
    background-color: var(--pink);
    color: white;
    transition-duration: 0.4s;
}

.peq {
    max-width: 350px;
    display: block;
    margin: auto;
}

.video {
    position: relative;
    max-width: 800px;      /* tamanho desejado no desktop */
    margin: 1.5rem auto;   /* centraliza dentro do main */
    aspect-ratio: 16 / 9;  /* mantém proporção do vídeo */
    border-radius: 16px;   /* arredondamento */
    overflow: hidden;     /* corta o iframe dentro da borda */
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.25); /* opcional */
}

.video iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.colum {
    columns: 2;
}

aside {
    max-width: 800px;
    margin: auto;
    color: white;
    background-color: var(--green);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 1rem;
}

aside h3 {
    font-family: var(--font-droid);
    background-color: var(--pink);
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem;
    border-radius: 15px 15px 0 0;

}

aside p {
    line-height: 1.6;
    text-align: justify;
    color: white;
    padding: 1rem;
    font-size: 1rem;
}

aside ul {
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.2rem;
    line-height: 1.6rem;
    color: white;
    font-size: 1rem;
}

footer {
    background-color: var(--black);
    color: white;
    text-align: center;
    margin: auto;
}

footer p {
    padding: 0.4rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}