@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    padding: auto;
    background-color: #D9D9D9;
}

header {
    background-image: linear-gradient(to top,#620024, #F24987);
    color: white;
    margin-top: 0;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-family: 'idroid', sans-serif;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 2.5rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(12, 12, 12, 0.3);
}

header p {
    padding: 1rem;
    font-size: 1rem;
    margin: 0rem;
}

header nav{
    text-align: left;
    padding-top: 1rem;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header nav a:hover {
    color: #B2BF4B;
}

main {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main h1 {
    font-family: 'idroid', sans-serif;
    font-size: 2rem;
    color: #B2BF4B;
    margin-bottom: 1rem;
    margin-top: 0;
}

article p {
    line-height: 1.6;
    text-indent: 4rem;
    text-align: justify;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #333333;
}

main h2 {
    background-image: linear-gradient(to right, #B2BF4B , #ffffff);
    font-family: 'idroid', sans-serif;
    font-size: 1.5rem;
    color: #F24987;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

aside {
    max-width: 750px;
    margin: auto;
    padding: 0px;
    color: white;
    background-color: #B2BF4B;
    padding:0rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

aside h3 {
    font-family: 'idroid', sans-serif;
    font-size: 1.5rem;
    color: white;
    margin: 0px;
    padding: 0.5rem;
}

aside p {
    line-height: 1.6;
    text-align: justify;
    color: white;
    margin: 1rem;
    margin-top: 0;
    padding-top: 1rem;
    font-size: 1rem;
}

.mais {
    background-color: #fa7eab;
    border-radius: 0 0 1rem 1rem;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    margin: auto;
}

footer p {
    padding: 0.4rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}