@charset "UTF-8";

html {
  font-size: 100%;
}

body {
    font-size: 1rem;
    font-family: 'Edu QLD Hand', cursive;
    color: #5a5a5a;
    background-image: linear-gradient(#f1d4ff, #ae64e6);
    background-attachment: fixed;
    margin: 0;
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1.875rem auto;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    max-width: 50rem;
}

h1 {
    font-size: 2.25rem;
    color:#ffffff;
    background-color: #ae64e6;
    padding: 0.625rem;
    border-radius: 0.5rem;
    text-align: center;
}

h2 {
    font-size: 1.25rem;
    color: #ae64e6;
    margin-top: 1.25rem;
}

p {
    color: #5a5a5a;
    text-align: justify;
    line-height: 1.6;
}